<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                {{#if user}}
                    <li role="presentation"><a href="/">Dashboard</a></li>
                    <li role="presentation"><a href="/users/logout">Logout</a></li>
                {{else}}
                    <li role="presentation"><a href="/users/login">Login</a></li>
                    <li role="presentation"><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        <h3 class="text-muted">Login</h3>
    </div>
</div>
