<!doctype html>
<html>
<head>

    {{>head}}
</head>
<body>
{{>navbar}}
{{>jumbotron}}
{{>error}}



    <div class="container-fluid">
        <div class="row">

                {{{body}}}
            </div>
        </div>


    </div>
</div>

</div>


</body>


</html>
