<head>

    <title>Favorite Places</title>


</head>

<h1 class="page-header">Dashboard</h1>

<p id="subtitle">Welcome to your dashboard</p>

<div class="container-fluid">
    <div class="row">

        <div class="options-box col-md-6">
            <h1>Your Saved Locations</h1>
            <hr>
           
                <table >
                    <thead>
                        <tr id="headertb">
                            <th>Order </th>
                            <th>Location Name </th>
                            <th>Address </th>
                            <th>Phone </th>

                        </tr>
                    </thead>
                     <!--Todo: Generate table body -->
                   <tbody id="table" data-bind="foreach: FavListVM.savedLocations">


                        <tr>
                                <td id="number" data-bind="text:favid, click: FavListVM.initPic " </td>
                                <td id="title" data-bind="text:title, click: FavListVM.initPic"></td>
                                <td id="addressdiv" data-bind="text:address, click: FavListVM.initPic "></td>
                                <td id="phonediv" data-bind="text:phone, click: FavListVM.initPic "></td>
                                <td> <button data-bind="click: removeLocation"  value="Remove">Remove</button></td>
                        </tr>


                    </tbody>
                </table>
           

        </div>
        {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}} {{/if}}

        <div class="col-md-6">
            <div class="center">
                
                <div data-bind="foreach: FavListVM.savedLocations ">
                    
                    <div >
                        <div>
                            <h1 data-bind="text: title"></h1>
                        </div>
                        <img id="photo" class="fav-preview" data-bind="attr: {src:photo} " alt="messages"/>
                        <div id="rating" data-bind="text:rating"></div>
                       
                        <div id="reviews" data-bind="text: reviews"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
