<head>

    <title>DashBoard</title>
    {{>indexfunctions}}
</head>

<h1 class="page-header">Dashboard</h1>

<p id="subtitle">Welcome to your dashboard</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="index-grid">
            <div class="index-grid" id="bootstrap-overrides">
                <div class="col-md-6">
                    <div class="left">
                        <div class="image1 "><img src="/img/png/Maps.png" alt="maps"></div>
                        <div  ><img id="fav-photo" data-bind="attr: {src:photo}" alt="messages"/></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="center">
                        
                        <div class="image2 "><img src="/img/png/Favorite Places.png" alt="favorite_places"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>