/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 100% 120%;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,

.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    position: relative;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/* Responsive: Portrait tablets and up */

    /* Space out the masthead */

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
#map{

    min-height: 75%;
    width:  75%;
    display: flex;
    position: absolute;
    align-content:center;
    overflow: auto;
    padding-left: 200px;
    padding-bottom: 50px;

}

#ddtabs{
    color: white;
}

.expressContent{


}
